<div
  class="face-snap-card"
  [ngClass]="{ snapped: buttonText === 'Hum! unSnap!' }"
>
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <p>Mise en ligne le {{ faceSnap.createdDate | date : "longDate" }}</p>
  <img [src]="faceSnap.imgUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
  <p>
    👌
    <button (click)="onSnap()">{{ buttonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">
      {{ faceSnap.snaps }}</span
    >
  </p>
</div>
